<app-header></app-header>
<mat-drawer-container class="container">
    <mat-drawer style="background-color: black;" mode="side" opened>
        <side-nav></side-nav>
    </mat-drawer>
    <mat-drawer-content>
        <div class="content" fxLayoutGap="10px">
            <h2>{{getTituloLista()}}</h2>
            <app-table-participantes></app-table-participantes>
            <app-resumo></app-resumo>
            <app-button-add></app-button-add>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
