:host{
    .header{
        height: 50px;
    }

    .modal-content{
        margin: 10px;
    }

    .titulo-cadeiras{
        font-size: 16px; 
        font-weight: 500;
    }

    .grupo-cadeiras{
        overflow-y: auto; 
        max-height: 120px;
        
    }

    .button-cadeira{
        height: 60px;
    }

    .novo-cadeira{
        margin-top: 15px;
    }

    .button-cadeira-icon{
        width: 40px; 
        height: 40px; 
        font-size: 40px;
    }

    .resumo-cadeiras{
        font-size: 16px; 
        font-weight: 300;
    }

    .botoes{
        margin-top: 20px;
    }

    .separador{
        margin-top: 10px;
    }
}