<div fxFlex fxLayout="column" fxLayoutGap="10px">
    <mat-toolbar fxFlex color="primary">
        <div class="header" fxFlex fxLayoutAlign="center center">
            BANCO
        </div>
    </mat-toolbar>

    <div fxFlex fxLayout="column" class="modal-content">
        <div fxFlex fxLayoutGap="10px">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Número</mat-label>
                <input matInput [(ngModel)]="banco.identificacao">
            </mat-form-field>
        </div>
        <label class="titulo-cadeiras" fxFlex fxLayoutAlign="start center">Cadeiras</label>
        <mat-divider class="separador"></mat-divider>
        <div id="grupoCadeiras" class="grupo-cadeiras" fxLayout="column">
            <div *ngFor="let cadeira of banco.cadeiras; let i = index" fxFlex fxLayout="column">
                <div fxFlex fxLayout="row">
                    <input matInput [(ngModel)]="cadeira.identificacao" readonly="true">
                    <button class="button-cadeira" fxFlex="60px" mat-button color="accent" (click)="removerCadeira(cadeira.id, i)" fxLayoutAlign="center center"><mat-icon class="button-cadeira-icon">delete</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="novo-cadeira" fxFlex fxLayoutGap="5px">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Digite a identificação do cadeira</mat-label>
                <input matInput [(ngModel)]="novoCadeira.identificacao">
            </mat-form-field>
            <button class="button-cadeira" fxFlex="60px" mat-button color="primary" (click)="adicionarCadeira()" fxLayoutAlign="center center"><mat-icon class="button-cadeira-icon">add</mat-icon></button>
        </div>
        <div fxFlex fxLayout="row">
            <label class="resumo-cadeiras" fxFlex fxLayoutAlign="start center">{{banco.cadeiras.length}} cadeiras</label>
        </div>
        <div class="botoes" fxFlex fxLayoutAlign="end" fxLayoutGap="10px">
            <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
        </div>
    </div>
</div>